body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

main {
  margin-top: 10em;
}
/*header*/
header {
  border: solid 4px #1ca4ac;
  border-radius: 0px 0px 10px 10px;
  border-style: groove;
}
/*navbar*/
.navbar {
  background-color: #000;
}
#img_name {
  width: 12em;
}

#img_portafolio {
  width: 8em;
}

/*card*/
.my_img img {
  border: solid 8px #1ca4ac;
  border-radius: 10px;
  border-style: groove;
}
.dat_card {
  border: solid 8px #1ca4ac;
  border-radius: 10px;
  border-style: groove;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 280px;
}
.img_text {
  width: 140px;
  border: solid 2px #1ca4ac;
  border-radius: 10px;
}
.card-text {
  font-size: small;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portafolio_title {
  background-color: #1ca4ac;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px #a5d3d5;
  border-radius: 10px 10px 10px 10px;
  border-style: groove;
}
/*portafolio titulo*/
.portafolio_title img {
  width: 12em;
}

/*carousel imagenes*/
.challenges_images {
  border-radius: 12px;
  border: solid 6px #1ca4ac;
  border-style: groove;
}

.contain_carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*skills*/

.skills_title {
  background-color: #1ca4ac;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px #a5d3d5;
  border-radius: 10px 10px 10px 10px;
  border-style: groove;
}

/*Skill titulo*/
.skills_title img {
  width: 12em;
}

/*skill*/
.text_skill {
  font-size: medium;
  color: #fff;
  background-color: rgba(255, 0, 0, 0);
}
.progress {
  height: 3em;
  background-color: #000;
}
.skills {
  border-radius: 12px;
  border: solid 5px #1ca4ac;
  border-radius: 10px;
  border-style: groove;
}

/*Fork*/
.fork_title {
  background-color: #1ca4ac;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 8px #a5d3d5;
  border-radius: 10px 10px 10px 10px;
  border-style: groove;
}
/*Fork titulo*/
.fork_title img {
  width: 12em;
}
.img_fork {
  width: 20em;
  border-radius: 12px;
  border: solid 5px #1ca4ac;
  border-radius: 10px;
  border-style: groove;
}

/*Videos*/
.videos_title {
  background-color: #1ca4ac;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px #a5d3d5;
  border-radius: 10px 10px 10px 10px;
  border-style: groove;
}
/*videos titulo*/
.videos_title img {
  width: 12em;
}
